.attribution { font-size: 0.6875rem; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    background-color: hsl(0, 0%, 95%);
    display: flex;

    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

@font-face {
    font-family: 'Lexend Deca';
    src:
        local('Lexend Deca'),
        url("fonts/Lexend_Deca/LexendDeca-VariableFont_wght.ttf");
    font-weight: 400;
}
@font-face {
    font-family: 'Big Shoulders';

    src: 
        local('Big Shoulders'),
        url("fonts/Big_Shoulders/BigShoulders-VariableFont_opsz\,wght.ttf");
    font-weight: 700;
}

p {
    font-size: 15px;
    font-family: 'Lexend Deca';
}

h2 {
    font-family: 'Big Shoulders';
}

.sedans-div {
    background-color: hsl(31, 77%, 52%);
}

main {
    border-radius: 10px;
    overflow: hidden;
}

@media screen and (max-width: 810px) {
    main {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 300px;
    }
}
@media screen and (min-width: 811px) {
    main {
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        
        width: 800px;
    }
}

.suvs-div {
    background-color: hsl(184, 100%, 22%);
}

.luxury-div {
    background-color: hsl(179, 100%, 13%);
}

.card {
    padding: 30px;
    box-sizing: border-box;
    width: 300px;
}

p, h2 {
    color: hsla(0, 0%, 100%, 0.75); 
}

.btn {
    height: 30px;
    width: 100px;
    border-radius: 20px;
    background-color: hsl(0, 0%, 95%);
    border: none;
    outline-color: hsl(0, 0%, 95%);
    outline-style: solid;
    margin-top: 50px;
}

.sedan-btn {
    color: hsl(31, 77%, 52%);
}
.suv-btn {
    color: hsl(184, 100%, 22%);
}
.luxury-btn {
    color: hsl(179, 100%, 13%);
}

.btn:hover {
    cursor: pointer;
    background-color: transparent;
    color: hsla(0, 0%, 100%, 0.75);
    outline-width: 1px;
}